@import url('./iconfont.css');

.fullscreen {
	width: 100vw;
	height: 100vh;
}
#toolbar {
	padding: 5px 0px;
  border: 1px solid #E9E9E9;
  z-index: 3;
  box-shadow: 0px 8px 12px 0px rgba(0, 52, 107, 0.04);
  background: #fff;

  position: absolute;
  height: 40px;
	top: 0;
	left: 0;
	width: 100%;
}

.command {
	width: 27px;
	height: 27px;
	line-height: 27px;
	margin: 0px 6px;
	border-radius: 2px;
	padding-left: 4px;
	display: inline-block;
	border: 1px solid rgba(2,2,2,0);
}
.command:hover {
	cursor: pointer;
	border: 1px solid #E9E9E9;
}
#toolbar .command:nth-of-type(1) {
  margin-left: 24px;
}
#toolbar .separator {
  margin: 4px;
  border-left: 1px solid #E9E9E9;
}

#page {
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 0;
	right: 200px;
	background: #fff;
	overflow: hidden;
}

#detailpannel {
	position: absolute;
	bottom: 0;
	top: 40px;
	right: 0;
	z-index: 2;

	background: #F7F9FB;
	width: 200px;
	border-left: 1px solid #E6E9ED;
}

#navigator {
	width: 200px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 3;
  border-top: 1px solid #DCE3E8;
  border-left: 1px solid #DCE3E8;
}
.pannel-title {
  height: 32px;
  border-bottom: 1px solid #DCE3E8;
  background: #EBEEF2;
  color: #000;
  line-height: 30px;
  padding-left: 12px;
  font-size: 12px;
}
#minimap {
  width: 200px;
  height: 150px;
}