html, body {
  height: 100%;
  overflow: auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: #f8f9f5;*/
  background: #f5f5f5;
  -webkit-overflow-scrolling: touch
}
*, *::before, *::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
	text-decoration: none;
	color: inherit;
  display: inline-block;
  outline: none;
}

#root {
  height: 100%;
  overflow: auto;
}
#main {
  min-height: calc(100% - 40px);
  overflow: auto;
}

.app-body {
  padding: 20px;
  max-width: 1160px;
  margin: 0 auto;
}

ol, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul, ol {
  margin: 10px 0;
}
li {
  list-style: none;
  margin-top: 6px;
}

footer {
  text-align: center;
}

/*时间线*/
.cp-timeline ul {

}
.cp-timeline li {
  position: absolute;
  width: auto;
  white-space: nowrap;
  cursor: pointer;
  color: #333;
  font-size: 13px;
  max-width: 45vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  height: 24px;
  line-height: 24px;
}

li.cp-timeline-li_l {
  text-align: right;
  right: 0;
  padding-right: 50px;
  color: #FB8C00;
}
li.cp-timeline-li_l::after {
  content: '';
  position: absolute;
  right: 0;
  width: 40px;
  height: 1px;
  background: #FB8C00;
  top: 50%;
  z-index: -1;
}
.cp-timeline-sectit_left {
  position: absolute;
  right: 0;
  white-space: nowrap;
  top: -30px;
  padding-right: 60px;
  color: #FB8C00;
}

li.cp-timeline-li_r {
  text-align: left;
  left: 0;
  padding-left: 50px;
  color: #43A047;
}
li.cp-timeline-li_r::after {
  content: '';
  position: absolute;
  left: 0;
  width: 40px;
  height: 1px;
  background: #43A047;
  top: 50%;
  z-index: -1;
}
.cp-timeline-sectit_right {
  position: absolute;
  left: 0;
  white-space: nowrap;
  top: -30px;
  padding-left: 60px;
  color: #43A047;
}

.cp-timeline-sectit_alternative {
  position: absolute;
  width: 200px;
  text-align: center;
  left: -100px;
  white-space: nowrap;
  top: -30px;
  color: #43A047;
}

.timeline-date_mobile {
  position: absolute;
  top: 0;
  line-height: 1;
  font-size: 10px;
}

.cp-timeline-li_r .timeline-date_mobile {
  left: 5px;
}
.cp-timeline-li_l .timeline-date_mobile {
  right: 5px;
}

/* 导航bar */
.topbar {
  padding: 0 30px;
}
.topbar > div {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 60px !important;
}
.topbar-logo {
  position: relative;
  margin-right: -16px;
  margin-left: 16px;
}

.topbar-logo_wrapper {
  width: 30px;
  height: 30px;
  background: #fff;
  overflow: hidden;
  padding: 1px;
  box-sizing: border-box;
  cursor: pointer;
}

/* 底部二维码 */
.footer-qcode {
  width: 100px;
  margin-top: 10px;
}

.comp-qcode {
  position: fixed;
  bottom: 13px;
  right: 13px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  transition: all .1s;
}
.comp-qcode-img {
  height: 300%;
  width: 300%;
}

.comp-qcode:hover {
  width: 100px;
  height: 100px;
  border-radius: 2px;
}
.comp-qcode:hover .comp-qcode-img {
  width: 100%;
  height: 100%;
}

/* 滑窗二维码 */
.qcode-wrapper {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
}
.qcode {
  width: 100px;
}
/* 滑窗控制器 */
.toggleDrawer-button-wrapper {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1000;

}
.toggleDrawer-button {
  background: url('/favicon.ico');
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-size: 90% 90%;
  background-position: center center;
  border: 2px dotted orange;
}

/* 文章列表 */
.artical-list {
  margin-bottom: 20px;
}

/* gitbook */
.gb-body {
  padding: 20px 40px;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gitbook-card {
  width: 48%;
  margin-bottom: 20px;
}
.gitbook-card-content {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
}

/**
 ** 小组件
**/

/* 日期格式 */
.date-type-short {
  display: none;
}

/* 通用显隐藏 */
.bs-h {
  display: none !important;
}
.bs-s {
  display: block !important;
}

/* footer */
.app-footer {
  text-align: center;
  line-height: 2;
  padding: 8px 0;
  font-size: 13px;
  margin-top: -2px;
}


@media screen and (max-width: 760px) {
  .app-body {
    padding: 6px 20px 12px;
  }
  /* 底部二维码显隐藏 */
  .comp-qcode {
    display: none;
  }

  /* 日期格式控制 */
  .date-type-full {
    display: none;
  }
  .date-type-short {
    display: inline-block;
  }

  /* 文章列表 */
  .artical-list .artical-list-item_title {
    width: calc(100vw - 170px);
    overflow-x: auto;
  }

  /* 通用显隐藏 */
  .ss-h {
    display: none !important;
  }
  .ss-s {
    display: block !important;
  }

  /* 顶部导航 */
  .topbar {
    padding: 0;
  }
  .topbar > div {
    min-height: 54px !important;
  }
}

@media screen and (max-width: 700px) {
  .gitbook-card {
    width: 100%;
  }
  .gitbook-card-content {
    height: 200px;
  }
  .gb-body {
    padding: 20px;
  }
}

















